/* Sarabun */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Archivo Black */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Prompt */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

body {
    max-width: 1920px;
    height: 1080px;
    position: relative;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 20px;
    position: relative;
    height: 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);


    /* ให้ลอยอยู่หน้าสุด */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 420px;
    height: 100px;
}

.logo img {
    display: block;
}

/* ชื่อมหาลัย */
.text-section {
    margin-left: 10px;
    width: 200px;
    line-height: 3px;

}

.divider {
    line-height: 0.9;
    color: rgb(88, 87, 87);
    font-size: 24px;
    margin: 0 10px;
}

.menu-items {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    width: 100rem;
    /* ปรับความกว้างของเมนูได้ตามต้องการ */
    font-family: 'Sarabun', sans-serif;
}

.menu-items ul {
    padding: 0px;
}

.menu-items .login-button a {
    background-color: #076607;
    /* สีเขียว */
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 135px;
    height: 40px;
    text-align: center;
    display: block;
    transition: background-color 0.3s ease;
}

.menu-items .login-button a:hover {
    background-color: #ddbe0b;
    /* สีเขียวเข้มเมื่อ hover */
}

.menu-items li {
    margin-left: 100px;
    text-decoration: none;
    font-weight: 700;

}

.menu-items li a {
    text-decoration: none;
    font-size: 20px;
}

.menu-items a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
}

/* ไอคอนเมนู (3 ขีด) */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* แสดงเมนูแฮมเบอร์เกอร์ในหน้าจอเล็ก */
@media (max-width: 8.3in) {
    .menu-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #2c3e50;
        width: 200px;
        border-left: 1px solid #444;
    }

    .menu-items.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

.th-en {
    position: absolute;
    right: 10px;
    bottom: 60px;
    color: #000;
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
}

.th-en a {
    text-decoration: none;
    color: #000
}

@media screen and (max-width: 850px) {
    .th-en {
        display: none;
    }
}


/* nav-menu */
/* Pc */
.box-menu {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #0a690a;
    height: 1080px;
    width: 300px;
    border: #535352 solid 3px;
}


/* กำหนดกล่อง list menu */
.box-list {
    position: relative;
    top: 40px;
    width: 200px;
    height: 1000px;
    left: 50px;
}

/* กำหนด font ระยะห่างความสูง font */
.system-menu {
    line-height: 80px;
    list-style: none;
    position: absolute;
    top: 60px;
}


/* ลบเส้นใต้ กำหนดสี font */
.system-menu li a {
    text-decoration: none;
    color: #ffffff;
}

.system-menu li a:hover {
    color: #fce305;
}

/* กำหนดขนาด icon font*/
.system-menu i {
    font-size: 18px;
}

/* icon facebook */
.facebook-icon a {
    text-decoration: none;
    color: rgb(3, 86, 194);
    position: fixed;
    right: 10px;
    bottom: 0px;
    font-size: 50px;
}

.ig-icon a {
    text-decoration: none;
    color: rgb(189, 8, 165);
    position: fixed;
    right: 10px;
    bottom: 50px;
    font-size: 50px;
}

/* สีตอน hover icon */
.facebook-icon a:hover {
    color: #01236b;
}

.ig-icon a:hover {
    color: rgb(102, 6, 102);
}

/* right content */
.container-right-content {
    position: relative;
    width: 1600px;
    height: 965px;
    top: 100px;
    left: 324px;
}

.slides {
    height: 70vh;
    width: 95%;
    overflow: hidden;
    position: relative;
    border: 4px solid #79e0ee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 12s infinite;
}

.slide-2 {
    animation-delay: 4s;
}

.slide-3 {
    animation-delay: 8s;
}

.slide-4 {
    animation-delay: 10s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide-show {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20%,
    30% {
        opacity: 1;
        scale: 1.03;
    }

    50% {
        opacity: 0;
    }
}

